@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

* {box-sizing: border-box;}
a {text-decoration: none; color: #444;}s
ul,li {list-style: none;}
img { width: 100%;}

:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 { padding: 30px; }

.sec1 {
    border: 1px solid lightsteelblue;
}

.slide_con {
    border:1px solid tomato;
    max-width: 1200px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slide_list {
    border:1px solid limegreen;
    display: flex;
    /* align-items: flex-end; */
    width: 2000px;
    height: 500px;
}
.item {
    position: relative;
    width: 8.4%;
    margin-right: 5px;
}

.item>* { 
    position: absolute; width: 100%; 
    /* border:1px solid lightseagreen; */
    text-align: center;
}

.item>.item_title {bottom:30%;}
.item>.item_detail { bottom:10px;}
.item>.item_link { color: transparent; height: 100%; background-color: rgba(0,0,0,0.1);}

.slide_con>button {
    position: absolute; top : 30%;
    width: 50px;
}
